
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>プラカフェ名古屋 l 無料体験会</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1678949180" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<link rel="icon" href="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6234399c6cc5f/original.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/ogp/1255342.png">
<meta property="og:url" content="http://puracafe-n-1.hp.peraichi.com"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1678949180"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1678949180"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1678950240"></script></head>
  <body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 85px;">
        <div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-29">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9f29d8b7b8/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_navigation_fixed p-header-fixed pera1-section block" data-structure="b-header-fb-like-btn--fixed" data-block-name="左テキスト(2段)+ボタン（上部固定）" id="section-21">
  <div class="p-header">
    <div class="grid-wrapper grid-wrapper--lg">
      <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
        <div class="row middle-xs center-xs">
          <div class="col-xs-12 col-sm-10 start-xs">
            <div class="u-mbsm pera1-removable">
              
            </div>
            
          </div>
          <div class="col-xs-12 col-sm end-xs pera1-removable">
            <div class="c-btn c-btn--full"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLScwKJSqKhTLEbj4xPGjc7y8ILNiYauYZ7Va_CrjHEFLuPTehw/viewform" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">『無料講座』ご予約はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-3">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4a5914c769/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-39">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4a5a01cbef/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-28">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4db0c40738/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9f6e035585/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-48">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLScwKJSqKhTLEbj4xPGjc7y8ILNiYauYZ7Va_CrjHEFLuPTehw/viewform" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">日程確認・ご予約 はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-6">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4cf760e36f/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-40">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4d0a2e2350/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9b465def1b/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-34">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9f6114ed9d/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-35">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9f61e0f661/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn" data-block-name="ボタン" id="section-46">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn u-fsxxl"><a class="pera1-editable" href="https://www.voice.puracafe.net/" data-structure="e-btn" target="_blank" style="background-color: rgb(244, 126, 0);">【会員さんの声】<br>  をもっと見る</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-43">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63eb179a3fb88/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4daf07b0c9/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-32">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4db1b4ffc0/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-24">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63a94a5091740/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-23">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63a9686a83366/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-44">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-25">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="20">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63e9b59e5d8de/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-47">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="21">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLScwKJSqKhTLEbj4xPGjc7y8ILNiYauYZ7Va_CrjHEFLuPTehw/viewform" data-structure="e-btn" target="_self" style="background-color: rgb(204, 14, 100);">『 無料講座 』ご予約はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-31">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="22">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-38">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="23">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63a828c91d89d/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-27">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="24">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-14">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="25">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/639f4243e6ceb/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="26">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">Copyright © 2023 プラカフェ株式会社 All Right Reserved.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  



















































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=JRlYyPCWOpFPB1Q"></script>
</body></html>
